._wdc-100{
    width: calc(100vw);
}
._htc-100{
    height:calc(100vh - 85px);
}
._leftpanel{
    background: #f5f5f5;
}
._fs-8{
    font-size: 8px;
}
._fs-12{
    font-size: 12px;
}
._collection:hover{
    background: #d6d6d6;
    cursor: pointer;
}
.active-link .activecontent{
    position: absolute;
    background: #ff4363;
    height: 26px;
    width: 4px;
    left: -16px;
    top: -4px;
}
._content{
    color: #000;
}
._content:hover{
    color: #000;
    text-decoration: none;
}