<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <app-header></app-header>
        </div>
        <div class="col-12 mt-5 border-bottom pb-3">
            <a class="navigator p-3"routerLink="all" routerLinkActive="active-link">All</a>
            <a class="navigator p-3" routerLink="board" routerLinkActive="active-link">Board</a>
            <a class="navigator p-3"routerLink="graph" routerLinkActive="active-link">Graph</a>
            <a class="navigator p-3" routerLink="recent" routerLinkActive="active-link">Recent</a>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>

